
<body>
    <header>
        <%- include('header') %>
    </header>
    <h1><%= student.name %></h1>
    <h1><%= student.age %></h1>
    <h1><%= student.email %></h1>

    <footer>
        <%- include('footer') %>
    </footer>
</body>
